.navbar {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0.75rem 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: none;
  border: none;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  /* margin-left: auto; */
}

.navbar-button {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #6B7280;
  height: 30px;
  width: 30px;
  padding-bottom: 120px;
  margin-top:12px;
}

.search-icon-div {
  display: flex;
  align-items: center;
  /* background: #f3f4f6; */
  padding: 0.5rem 0.75rem;
  /* border-radius: 9999px; */
  height:20px;
  width:340px;
  margin-right: 750px;
}

.search-icon {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #6B7280;
}

.navbar-input {
  flex: 1;
  outline: none;
  color: #1F2937;
  background-color: transparent;
  border: none;
  margin-left: 0.5rem;
}

.user-avatar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 10px;
}