.outer-div{
    padding-left: 0.25rem;
padding-right: 0.25rem; 
width: 100%;
margin-left: 2rem;

@media (min-width: 640px) { 
  padding-left: 0;
padding-right: 0; 
 }
}

.outer-div-2{
    padding-right: 5%;
}

.tab-list{
    display: flex; 
padding: 0.25rem; 
margin-left: 1.5rem; 
border-radius: 0.75rem; 
}

.tab-selected{
    display: flex; 
padding-top: 0.625rem;
padding-bottom: 0.625rem; 
padding-left: 0.75rem;
padding-right: 0.75rem; 
gap: 0.5rem; 
align-items: center; 
outline-style: none; 
width: fit-content; 
font-size: 1rem;
line-height: 1.5rem; 
font-weight: 500; 
line-height: 1.25rem; 
background-color: #ffffff; 
}

.w-full-mt-2{
    margin-top: 0.5rem; 
    width: 100%; 

}
.option-1{
    border-bottom-width: 2px; 
border-color: #2563EB; 
color: #1D4ED8; 
}

.option-2{
    color: #1F2937; 
:hover {
 color: #1E40AF; 
 }

}